@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Rubik:wght@300..900&display=swap');

body{
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: Rubik;
    font-size: 16px;
}

nav{
  text-align: right;
  width: 1250px;
  margin: auto;
  padding: 40px 0;
}

nav a{
  color: white;
  text-decoration: none;
  background-color: #464646;
  padding: 15px 30px;
}

#content{
  width: 1250px;
  margin: auto;
  margin-top: 40px;
}

#sidebar{
  position: fixed;
  height: 700px;
  background-color: #464646;
  width: 300px;
  border-radius: 10px;
  
}

#recettes{
  width: 900px;
  margin-left: auto;
}

.cocktail{
  height: 150px;
  background-color: #464646;
  border-radius: 10px;
}